<div>
    l'id saisi est : {{id}}
</div>

<input [(ngModel)]="id" placeholder="id">
<br><br>


<input [(ngModel)]="stringSearch" placeholder="search">
<br><br>


<select [(ngModel)] = "selectedPokemon"  >
    <option *ngFor="let pokemon of pokemonsResult | filterPokemonPipe:'name':stringSearch" [value]="pokemon.name">{{pokemon.name}}</option>
</select>

<div>
    le pokemon  est : {{selectedPokemon}}
</div>



<br>

<button (click)="get()">Get !</button>

<app-info-pokemon [id]="id" [name]="name" [stats]="stats"></app-info-pokemon>