<div *ngIf="id">
    l'id saisi est : {{id}}
</div>

<input [(ngModel)]="id" placeholder="id">
<br><br>

<div class="row">
    <div class="col-2">
        <input [(ngModel)]="stringSearch" placeholder="search">
    </div>
    <div class="col-2">
        <select [(ngModel)] = "selectedPokemon"  >
            <option value="">Choisis un Pokemon</option>
            <option *ngFor="let pokemon of pokemonsResult | filterPokemonPipe:'name':stringSearch" [value]="pokemon.name">{{pokemon.name}}</option>
        </select>
    </div>
    <div class="col-1">
        <button (click)="get()">Get !</button>
    </div>
</div>

<br><br>




<div *ngIf="selectedPokemon">
    le pokemon  est : {{selectedPokemon}}
</div>



<br>



<app-info-pokemon [id]="researchedId" [name]="name" [stats]="stats" [image]="image"></app-info-pokemon>