<div>
    l'id saisi est : {{id}}
</div>

<input [(ngModel)]="id" placeholder="id">
<br><br>

<input [(ngModel)]="id" readonly placeholder="id readonly">
<br><br>

<input [(ngModel)]="stringSearch" placeholder="search">
<br><br>


<select [(ngModel)] = "selectedPokemon"  >
    <option *ngFor="let pokemon of pokemons | filterPokemonPipe:'nom':stringSearch" [value]="pokemon.nom">{{pokemon.nom}}</option>
</select>

<div>
    le pokemon  est : {{selectedPokemon}}
</div>



<br>

<button onclick="go()">Go !</button>